<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 400px;
  font-family: Arial;
}

</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<link rel="stylesheet" type='text/css' media='all' href="./static/css/webslides.css">


<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.PieChart);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

chart.data = [
  {
    country: "Częściowa kontrola",
    value: 52.4
  },
  {
    country: "Brak kontroli",
    value: 11.2
  },
  {
    country: "Pełna kontrola",
    value: 9
  },
  {
    country: "Zależy od strony lub aplikacji",
    value: 20
  },
  {
    country: "Trudno powiedzieć",
    value: 7.5
  },
];
chart.radius = am4core.percent(70);
chart.innerRadius = am4core.percent(40);
chart.startAngle = 180;
chart.endAngle = 360;

var series = chart.series.push(new am4charts.PieSeries());
series.dataFields.value = "value";
series.dataFields.category = "country";

series.slices.template.cornerRadius = 10;
series.slices.template.innerCornerRadius = 7;
series.slices.template.draggable = true;
series.slices.template.inert = true;
series.alignLabels = false;

series.hiddenState.properties.startAngle = 90;
series.hiddenState.properties.endAngle = 90;

// chart.legend = new am4charts.Legend();

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv">

</div>
<p>Źródło: Paliński, 2020.</p>
<p>n=400</p>
